NASHVILLE COVID 1

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
import numpy as np
from credentials import user, password, server
import calendar
import datetime
import matplotlib.pyplot as plt
#test

In [2]:
#connString = "postgres+psycopg2://nss_user:nssAWS2020@nyt-covid-1.csdmctdmvs7t.us-east-1.rds.amazonaws.com:5432/covid_data"
#engine = create_engine(connString)

engine = create_engine("postgres+psycopg2://"+user+":"\
                                            +password+"@"\
                                            +server+":5432/covid_data")

colleges_df = pd.read_sql("SELECT * FROM colleges;", con=engine)

counties_df = pd.read_sql("SELECT * FROM counties;", con=engine)
mask_use_df = pd.read_sql("SELECT * FROM mask_use;", con=engine)
states_df = pd.read_sql("SELECT * FROM states;", con=engine)
us_totals_df = pd.read_sql("SELECT * FROM colleges;", con=engine)

#colleges_df

In [3]:
df_bus = pd.read_csv("../data/businesses.csv")
df_clusters = pd.read_csv("../data/clusters.csv")
df_violations = pd.read_csv("../data/hubNashville311.csv")
df_violations = df_violations[df_violations['Request Type']=='COVID-19'].reset_index(drop=True)
df_violations = df_violations[df_violations['Subrequest Type']=='COVID-19 Violations'].reset_index(drop=True)
df_violations = df_violations[['Request #','Request Type','Subrequest Type','Date / Time Opened','Address','City','Council District','ZIP','Latitude','Longitude']]
df_violations.columns = ['request_id','request_type','subrequest_type','date_opened','address','city','district','zip','lat','long']

df_violations['date'] = df_violations.date_opened.str.split().str[0]
df_violations['time'] = df_violations.date_opened.str.split().str[1]

C:\Users\mkoiv\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df_violations['date']= pd.to_datetime(df_violations['date'])
df_violations['Month'] = df_violations['date'].dt.strftime('%b')
#df_violations.drop(['MonthName'], axis=1, inplace=True)
df_violations

,request_id,request_type,subrequest_type,date_opened,address,city,district,zip,lat,long,date,time,Month
0,346122,COVID-19,COVID-19 Violations,04/15/2020 11:33:26 AM,928 6th Ave S,NASHVILLE,17.0,37203,36.149040,-86.772273,2020-04-15,11:33:26,Apr
1,339374,COVID-19,COVID-19 Violations,04/04/2020 06:13:59 PM,500 Gallatin Ave,NASHVILLE,5.0,37206,36.181548,-86.749695,2020-04-04,06:13:59,Apr
2,343513,COVID-19,COVID-19 Violations,04/10/2020 10:40:08 AM,5720 Crossings Blvd,NaN,NaN,NaN,36.039608,-86.646541,2020-04-10,10:40:08,Apr
3,442996,COVID-19,COVID-19 Violations,08/12/2020 02:05:29 AM,7689 Hwy 70 S,NASHVILLE,22.0,37221,36.078933,-86.953400,2020-08-12,02:05:29,Aug
4,339423,COVID-19,COVID-19 Violations,04/04/2020 08:12:27 PM,5310 Mt View Rd,ANTIOCH,32.0,37013,36.048182,-86.648447,2020-04-04,08:12:27,Apr
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11883,501190,COVID-19,COVID-19 Violations,11/12/2020 06:12:35 PM,3201 Old Hickory Blvd,OLD HICKORY,11.0,37138,36.244860,-86.637270,2020-11-12,06:12:35,Nov
11884,502791,COVID-19,COVID-19 Violations,11/13/2020 10:09:18 PM,306 11th Ave S,NASHVILLE,19.0,37203,36.153774,-86.783990,2020-11-13,10:09:18,Nov
11885,502933,COVID-19,COVID-19 Violations,11/14/2020 01:23:18 AM,121 17th Ave S,NASHVILLE,19.0,37203,36.151999,-86.793587,2020-11-14,01:23:18,Nov
11886,501297,COVID-19,COVID-19 Violations,11/12/2020 07:15:46 PM,515 Bell Rd,ANTIOCH,32.0,37013,36.071121,-86.637056,2020-11-12,07:15:46,Nov
11887,501127,COVID-19,COVID-19 Violations,11/12/2020 05:41:13 PM,3805 Park Ave,NASHVILLE,24.0,37209,36.151270,-86.831430,2020-11-12,05:41:13,Nov

In [8]:
df = df_violations['date'].groupby(df_violations.date.dt.to_period("M")).agg('count')
df
#df.plot()

date
2020-03      10
2020-04    2421
2020-05    1469
2020-06    1666
2020-07    2738
2020-08    1661
2020-09     687
2020-10     879
2020-11     357
Freq: M, Name: date, dtype: int64

In [6]:
counties_df.head(10)

         date       county       state   fips  cases  deaths
0  2020-01-21    Snohomish  Washington  53061      1       0
1  2020-01-22    Snohomish  Washington  53061      1       0
2  2020-01-23    Snohomish  Washington  53061      1       0
3  2020-01-24         Cook    Illinois  17031      1       0
4  2020-01-24    Snohomish  Washington  53061      1       0
5  2020-01-25       Orange  California  06059      1       0
6  2020-01-25         Cook    Illinois  17031      1       0
7  2020-01-25    Snohomish  Washington  53061      1       0
8  2020-01-26     Maricopa     Arizona  04013      1       0
9  2020-01-26  Los Angeles  California  06037      1       0